


.clock-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100vw;

  .analog-clock {
    height: 500px;
    width: 500px;
  }

  .controls-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .digital-time {
      font-family: 'Courier New', Courier, monospace;
      font-size: 9rem;
      font-weight: bold;
      display: flex;
      flex-direction: row;
      align-items: center;

      .digital-time-hours{
        color: #a30000;
      }
      .digital-time-minutes{
        color: #0b00a4;
      }
    }

    .digital-time-ampm {
      font-family: 'Courier New', Courier, monospace;
      font-size: 3rem;
      font-weight: bold;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
}


#analog-clock {
  --hour-angle: 0deg;
  --minute-angle: 0deg;
}

#hand-hour {
  transform-origin: 100px 100px;
  transform: rotate(var(--hour-angle));
}

#hand-minute {
  transform-origin: 100px 100px;
  transform: rotate(var(--minute-angle));
}

/* Styles des repères horaires */
.mark-quarter {
    stroke: #333;
    stroke-width: 3px;
    stroke-linecap: round;
}

.mark-five {
    stroke: #555;
    stroke-width: 2px;
    stroke-linecap: round;
}

.mark-minute {
    stroke: #999;
    stroke-width: 1px;
    stroke-linecap: round;
}

.hour-text {
    fill: #e74c3c; /* Rouge */
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
    text-anchor: middle;
    dominant-baseline: central;
    pointer-events: none; /* Empêche l'interférence avec le drag des aiguilles */
}

.minute-text {
    fill: #0b00a4; /* Noir */
    font-size: 12px;
    font-family: sans-serif;
    text-anchor: middle;
    dominant-baseline: central;
    pointer-events: none;
}

.hidden {
  display: none;
}
.draggable {
  cursor: grab;
}
.draggable:active {
  cursor: grabbing;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
}